.carousel-item img{
    height: 800px;
}

.piros{
    color: red;
}
.kep{
    width: 40rem;
    height: 30rem;
}
.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
  }
  .tablazat{
      margin-bottom: 2rem;
  }
  a{
      color: gold;
      text-decoration: none;
  }
  a:hover {
    color: darkorange;

  }

  .kepjobb{
      float: right;
  }

  .malac{
      float: left;
      margin-right: 25px;
  }
  .befektetes{
      float: right;
      width: 34rem;
      margin-bottom: 25px;
      
  }
  .befektetes2{
      float: right;
      width: 40rem;
  }

  .kepjobb2{
      float: right;
      height: 17rem;
  }

  .kepbal{
      float: left;
      height: 10rem;
      margin-right: 25px;
  }
  .banyaszat3{
      float: right;
      width: 40rem;
      margin: 15px;
  }