.carousel-item img{
    height: 800px;
}

.piros{
    color: red;
}
.kep{
    width: 40rem;
    height: 30rem;
}
.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
  }
  .tablazat{
      margin-bottom: 2rem;
  }
  a{
      color: blue;
      text-decoration: none;
  }
  a:hover {
    color: darkorange;

  }

  .kepjobb{
      float: right;
  }

  .malac{
      float: left;
      margin-right: 25px;
  }
  .befektetes{
      float: right;
      width: 34rem;
      margin-bottom: 25px;
      
  }
  .befektetes2{
      float: right;
      width: 40rem;
  }

  .kepjobb2{
      float: right;
      height: 17rem;
  }

  .kepbal{
      float: left;
      height: 10rem;
      margin-right: 25px;
  }

  .bitcoin1{
      float: right;
      height: 18rem;
      margin-left: 25px;
  }

  .bitcoin2{
      float: left;
      margin-right: 20px;
      width: 1300px;
  }

  .banyaszat3{
      float: right;
      width: 40rem;
      margin-left: 25px;
  }

  .banyaszat1{
      float: left;
      width: 40rem;
      margin-right: 30px;
      margin-top: 10px;
  }

  .video{
      border: solid white 4px;
      display: inline-block;
      margin-bottom: 15px;
  }
  body{
      background-image: url(kep/hatter4.jpg);
  }

  p{
      color: white;
  }

  h1, h2, h3, h4{
      color: white;
  }



  
